name: Build Mod

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up PATH
        run: |
          echo "${ANDROID_HOME}/build-tools/34.0.0" >> $GITHUB_PATH
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Build mod jar
        run: |
          chmod +x ./gradlew
          ./gradlew :lib:deploy
          #./gradlew :genesis:deploy
      - name: Upload lib built jar file
        uses: actions/upload-artifact@v4
        with:
          name: MatrixEnergyLibrary
          path: library/build/libs/
      - name: Upload genesis built jar file
        uses: actions/upload-artifact@v4
        with:
          name: MatrixEnergyGenesis
          path: genesis/build/libs/
